html {
    background-color: burlywood
}

body {
    margin-left: auto;
    margin-right: auto;
}


body {
    text-align: center;
    font-family: Futura;
}

body {
    border: 4px;
    background-color: #FF7F50;
}

a {
    font-size: 15px;
    color: #696969;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

a:hover {
    color: #0000CD;
}

h1 {
    font-size: 19px;
    color: #0000CD;
}

h2{
    font-size: 16px;
}

p {
    font-size: 18px;
}

border: 2px solid #0000000;
